.instabox {
    background-color: #fafafa;
}

.top-box {
    display: flex;
    flex-direction: row;
}

.tb-left {
    margin: 100px;
}

.tb-right {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.headerbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 50px;
    justify-content: space-between;
}

.text {
    /* should be Nimbus Sans */
    font-family: sans-serif;
}

.statsbox {
    display: flex;
    justify-content: space-between;
}

.greyedout {
    color: #999999;
    font-weight: 800;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
}

.account-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
